html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.video {
  width: 50vw;
  position: relative;
  /* display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-direction: column; */
}

/* img {
  position: absolute;
  z-index: 1;
}

 */
 img {
  position: absolute;
  z-index: 1;
  width: 100%;
  margin: 0 5px
}
 video {
  width: 100%;
  margin: 10px;
  margin: 0 5px
}
.container {
  height: 100vh;
  display: flex;
    align-items: center;
    justify-content: center;
}